.App {
    height: 100vh;
    overflow-y: scroll; 
    overflow-x: scroll;
    background: #1C2FE4;
  }

  /* home css */

  .page-indication > h1 {
    background: #FF7701;
    width: 30%;
    height: 55px;
    margin-top: 3%;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 20px 0 20px 100px;
    font-size: 3em;
  }

  .navbar-body-container {
    background: white;
    margin: 40px 100px;
    width: 85%;
    height: 150vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
  }

  .app-nav-body-content {
      width: 80%;
  }

  /* navbar css */
  .navbar-container {
    background: #64676B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    /* width: 76%; */
    border-radius: 10px;
    margin: 40px 0;
    padding: 2px 0;
    color: white;
}

.vl {
  border-left: 1px solid white;
  height: 30px;
}

.navbar-container > a {
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    margin: auto;
    width: 230px;
    text-align: center;
}

nav a:hover,
nav a:active {
    color: black;
}

.navbar-container > a.active {
    color: #64676B;
    background: white;
    border-radius: 5px;
    padding: 15px 20px;
    width: 275px;
    margin: 0 6px 0 6px;
    text-align: center;
}


@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
/* @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";*/
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css"; 
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
  
  
  @media screen and (max-width: 800px) {
  
  }