.App {
    height: 100vh;
    width: 104%;
    margin-top: -1%;
    padding-bottom: 4%;
    margin-left: -3%;
    overflow-y: scroll; 
    overflow-x: scroll;
    background: #1C2FE4;
  }

  /* home css */

  .page-indication > h1 {
    background: #FF7701;
    width: 35%;
    height: 55px;
    margin-top: 3%;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 20px 0 20px 100px;
    font-size: 3em;
  }

  .navbar-body-container {
    background: white;
    margin: 40px 100px;
    width: 85%;
    height: 140vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
  }

  .app-nav-body-content {
      width: 80%;
  }


  /* cards css for home and booking */

  .single-list-items{
    background: #E6E6E6;
    padding: 0px 10px;
    margin: 25px 0;
    height: 110px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1)
  }

  .bookcard-list-items{
    background: #E6E6E6;
    padding: 0px 10px;
    margin: 25px 0;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1)
  }

  .single-booking-item{
    background: #E6E6E6;
    padding: 0px 10px;
    margin: 25px 0;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1)
  }

  .room-name{
    margin-top: -22px;
    font-size: 17px;
  }

  .booking-details{
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: relative;
  }

  a {
      color: #1C2FE4;
      text-decoration: none;
      font-size: 1.2em;
  }

  #single-meeting-name{
    color: #1C2FE4;
    font-size: 1.5em;
  }

  #cancel-meeting-button{
    background: #C1111F;
    color: white;
    width: 25%;
    margin-left: 38%;
    border: none;
    border-radius: 30px;
    height: 30px;
    cursor: pointer;
  }

  #cancel-confirmation{
      text-align: center;
  }

  #options{
      display: flex;
      justify-content: space-evenly;
  }

  #yes-button{
    background: #C1111F;
    color: white;
    width: 25%;
    border: none;
    border-radius: 30px;
    height: 30px;
    cursor: pointer;
  }

  #no-button{
    background: lightgreen;
    color: white;
    width: 25%;
    border: none;
    border-radius: 30px;
    height: 30px;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  .rooms-details{
    width: 28%;
    display: flex;
    justify-content: space-between;
  }

  #single-room-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
  }


  /* css for forms new booking and new room  */

  .submit-booking-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  .submit-room-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  #new-room-input-fields{
    display: flex;
    justify-content: space-between;
  }

  #new-room-name{
    background: #E6E6E6;
    border: none;
    padding: 0 13px;
    width: 340px;
    height: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

  .floor-capacity-input{
    background: #E6E6E6;
    border: none;
    padding: 0 13px;
    width: 60px;
    height: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

  .form-inputs{
      display: flex;
      justify-content: space-between;
  }

  .form-inputs > label > input, .form-inputs > label > span > input {
      background: #E6E6E6;
      border: none;
      padding: 0 5px;
      width: 290px;
      height: 27px;
      margin-bottom: 25px;
      border-radius: 10px;
  }

  .book-meeting-button{
    background: #1C2FE4;
    color: white;
    width: 25%;
    border: none;
    border-radius: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 38%;
    cursor: pointer;
  }

  /* navbar css */
  .navbar-container {
    background: #64676B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-radius: 10px;
    margin: 40px 0;
    padding: 2px 0;
    color: white;
}

.vl {
  border-left: 1px solid white;
  height: 30px;
}

.navbar-container > a {
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    margin: auto;
    width: 230px;
    text-align: center;
}

nav a:hover,
nav a:active {
    color: black;
}

.navbar-container > a.active {
    color: #64676B;
    background: white;
    border-radius: 5px;
    padding: 15px 20px;
    width: 275px;
    margin: 0 6px 0 6px;
    text-align: center;
}


@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
/* @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";*/
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css"; 
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
  
  
  @media screen and (max-width: 800px) {
  
  }